.App {
  text-align: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.card-object {
  margin: .5rem 0rem;
}

.card-object-subtitle {
  padding: .125rem 0rem;
}


.centered-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }

 @media screen and (min-width: 200px) and (max-width: 350px) {
   .card-object {
     max-width: 70vw;
     margin: .5rem auto !important;
   }
 } 